/* component box search */
.box-search {
    background: white;
    padding: 16px;
    display: flex;
    border-radius: 4px;
    margin-bottom: 16px;
    justify-content: center;

    @media (min-width: 768px) {
        min-width: 400px;
    }
}

.form {
    max-width: 280px;
    display: flex;
    justify-content: space-between;
    flex: 1;
    flex-wrap: wrap;
    text-align: center;

    @media (min-width: 768px) {
        max-width: 300px;   
    }

    &__input {
        margin-right: 8px;
        padding: 8px;
        flex: 1;
        border: 1px solid gray;
        border-radius: 4px;

        @media (max-width: 275px) {
            margin-right: 0;
        }
    }

    &__button {
        background: black;
        color: white;
        font-size: 14px;
        border: 0;
        border-radius: 4px;
        padding: 8px;
        cursor: pointer;

        &:hover {
            background: #4a4848;
        }

        @media (max-width: 275px) {
            width: 100%;
            margin-top: 8px;
        }
    }

    &__error {
        width: 100%;
        color: red;
        font-size: 12px;
        line-height: 15px;
        margin-top: 12px;
    }
}

/* box address result */
.box-address {
    display: flex;
    flex-direction: column;
    background: white;
    padding: 16px;
    min-width: 300px;
    border-radius: 4px;
    font-size: 14px;
    line-height: 20px;

    @media (max-width: 275px) {
        min-width: initial;
        max-width: 100%;
    }

    &__label {
        span{
            font-weight: bold;
        }
    }
}