<div class="box-search">
  <form class="box-search__form form">
      <input
          type="text"
          class="form__input"
          placeholder="Digite seu CEP"
          mask='00000-000'
          autofocus
          #cepNumber>
      <button
          class="form__button"
          (click)="getAddress($event, cepNumber.value);">
          Buscar CEP
      </button>

      <p class="form__error" *ngIf="invalidCep">CEP inválido. Verifique o CEP digitado e tente novamente.</p>
  </form>
</div>

<div class="box-address" *ngFor="let address of addressUser;">
    <label class="box-address__label">
      <span>CEP:</span> {{address.cep}}
    </label>
    <label class="box-address__label">
        <span>Estado:</span> {{address.estado}}
    </label>
    <label class="box-address__label">
        <span>Cidade:</span> {{address.cidade}}
    </label>
    <label class="box-address__label">
        <span>Bairro:</span> {{address.bairro}}
    </label>
    <label class="box-address__label">
        <span>Logradouro:</span> {{address.logradouro}}
    </label>
</div>